/* @import './base.css'; */

body{
  margin: 0px;
  font-family: 'Roboto', sans-serif;

}

#app {
  font-weight: normal;
}
/* 
header{
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
} */

input{
  background-color: #D9D9D9;
  outline: none;
}

.boxCinza{
  background-color: #D9D9D9;
}

