/* @import './base.css'; */

body {
  margin: 0px;
  background-color: #585858;
  font-family: 'Roboto', sans-serif;

}

#app {
  font-weight: normal;
}

.p-menu-overlay {
  background: #363636;
  border: none;
}

.p-menu-list {
  background: #363636;
  border: none;
}

.p-menu {
  background: #363636 !important;
  border: none !important;
}

/*
header{
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
} */

input {
  background-color: #D9D9D9;
  outline: none;
}

.boxCinza {
  background-color: #D9D9D9;
}
